.TituloRango
{padding-left: 10px;
    margin-left: 10px;
color: #767676;
font-size: 14px;
line-height: 17px;}

.bs-datepicker-head {
    background-color: #ff1674 !important;
}

.btnDescripcion{
    background-color: #ff1674;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 15px;
    width: 150px;
}