<form [formGroup]="form">

    <div class="m-3 pt-1 pb-1 hidden-md-down">
        <h2 class="text-center">Historial de servicios</h2>
    </div>


    <div class="row"><div class="col-4">
        <label class="TituloRango">Rango de fechas</label>
        <br/>
        <input type="text" 
               placeholder="Rango de fechas"
               class="form-control"
               bsDaterangepicker
               [bsConfig]="{ isAnimated: true, containerClass:'theme-dark-blue' }"
               #rangoFechas
               formControlName="rangoFechas"
                >
    </div> 
       
    
    <div class="col-8">

          <label class="TituloRango">Servicios</label>
          <select class="custom-select"  formControlName="selectServicios" >
              <option value="" disabled>Seleccione un servicio</option>
              <option *ngFor="let element of serviciosList" [ngValue]="element.id">{{element.nombre}}</option>           
           </select>
      </div>
</div>
<br/>
    <div class="row"> 
      <div class="col-3 offset-9" >
      <button type="button" class="btnIncidente" (click)="consultarHistorial(template)">Consultar</button>
    </div>
    
  </div>
  <br/>
      

         <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
                <ng-container *ngIf="esColaborador">
                    <th scope="col">Modificado por</th>              
                </ng-container>
        
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of serviciosHistoriaList ">
                <th>{{element.fechaModificacion | date: 'dd-MM-yyyy'}}</th>
                <td>{{element.estado}}</td>
                <td>                           
                        <button type="button" class="btnDescripcion" (click)="openModal(template, element.detalleCambio)">Ver...</button>
                    </td>
                <ng-container *ngIf="esColaborador">
                    <td> {{element.usuarioModifica.Title}} </td>              
                </ng-container>
              </tr>
             
            </tbody>
          </table>
          
        <br>
         
        <ng-template #template id="modal">
          <div class="modal-header">        
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="text-center">
                  <img style="width: 250px;" _ngcontent-c2="" alt="Puntos Colombia" class="modal-logo" src="assets/images/logo.png">
                </div>
                
                <div _ngcontent-c2="" class="modal-dialog modal-open" style="max-width: 480px">
                        <div _ngcontent-c2="" class="col container align-items-center">
                            <div _ngcontent-c2="" class="modal-content">
                                
                               <div _ngcontent-c2="" class="login-modal__form-wrapper justify-content-center text-center">
                                    <form _ngcontent-c2="" class="m-0 ng-pristine ng-invalid ng-touched" novalidate="">
                                        <label _ngcontent-c2="">{{textoModal}}</label>
                                        
                                       
                                        
                                    </form>
                
                                   
                                </div>
                            </div>
                        </div>
                    </div>
        
        
          </div>
        </ng-template>

   
  </form>