.table
{
width: 100%;
padding: 35px;

}

.btnDescripcion{
    background-color: #ff1674;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 15px;
    width: 150px;
}

.btnIncidente{
    background-color: #5c216e;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 15px;
    width: 150px;
    margin-top: 5px;
}
.modal-header
{

         border-bottom: 0px solid #e9ecef; 
}
#modal
{

    border-radius: 20px;
}

.modal-content {
border: 0px solid rgba(0,0,0,.2);
min-height: 300px;
border-radius: .5rem;

}